.discover-page {
  margin: 40px 0;
  background-color: $white;
  padding: 0 20px;
  .discover-page-header {
    padding: 20px 0;
  }
  .discover-item {
    padding: 5px;
    .discover-item-cover {
      height: 100px;
      width: 100%;
      background-color: #fafafa;
    }
    .discover-item-id {
      padding: 5px 0;
      .discover-item-id-id {

      }
    }
  }
  .discover-page-content {
    a {
      color: $body;
    }
  }
}
