.submit-page {
  position: relative;
  padding-top: 200px;
  @media (max-width: 900px) {
    padding-top: 100px;
  }
  @media (max-width: 700px) {
    padding-top: 40px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560px;
    background-color: $heroBg;
    background-image: url('../assets/submit-01.png');
    background-repeat: no-repeat;
    background-position: right top;
    content: '';
    display: block;
    z-index: 0;
    @media (max-width: 700px) {
      background-image: none;
    }
  }
  .submit-page-header {
    font-size: 48px;
    color: $white;
    margin: 0 auto;
    max-width: 930px;
    @media (max-width: 700px) {
      font-size: 30px;
    }
  }
  .submit-page-content {
    margin: 20px auto 80px;
    max-width: 930px;
    background-color: $white;
    padding: 29px 76px 29px 29px;
    z-index: 1;
    @media (max-width: 700px) {
      padding-right: 29px;
    }
  }
  legend {
    color: $heading;
    font-size: 22px;
    margin-bottom: 27px;
    &::first-letter {
      color: $blue;
    }
  }
  .uk-fieldset {
    margin-bottom: 20px;
  }
  .uk-legend, label span:first-of-type {
    text-transform: uppercase;
  }
  label span {
    display: block;
    font-size: 14px;
  }
  label span:last-of-type {
    margin-bottom: 13px;
  }
  label .sub {
    opacity: 0.5;
  }
  label .uk-checkbox {
    margin-right: 14px;
  }
  .uk-input {
    height: 54px;
    padding: 0 19px;
  }
  textarea {
    padding: 19px;;
  }
  .policy-block {
    user-select: none;
  }
  .submit-button-block {
    margin-bottom: 30px;
  }
}
