$white: #ffffff;
$blue: #09BBF8;
$gray50: #FAFAFA;
$headerLogo: #191919;
$buttonBg: #09bbf8;
$buttonShadow: #009bcf;
$footerBg: #30354e;
$heroBg: #09BBF8;
$heading: #25293f;
$body: #25293f;
$red: #f0506e;
