.header {
  height: 100px;
  background-color: $white;
  line-height: 100px;
  a {
    color: $headerLogo;
    text-decoration: none;
  }
  .row {
    > div {
      float: left;
    }
  }
  .header-menu-bar {
    float: right !important;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0 20px;
        display: inline-block;
      }
    }
    button {
      margin-left: 20px;
    }
  }
}
