.uk-input, .uk-textarea {
  border-radius: 5px;
}
.uk-input:hover, .uk-textarea:hover, .uk-input:focus, .uk-textarea:focus {
  border-color: $blue;
}
.uk-textarea {
  resize: vertical !important;
  min-height: 100px;
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
  background-color: $blue;
}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
  background-color: $blue;
}
.uk-error {
  display: block;
  height: 15px;
  line-height: 15px;
  color: $red;
  padding: 5px 0;
  font-size: 85%;
}
